.burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--text-primary);
  cursor: pointer;
  gap: 6px;
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }

  &:before,&::after {
    content: '';
    transition: 0.3s;
    display: flex;
    height: 2px;
    width: 16px;
    background: var(--text-primary);
  }
}
.burger-btn_active {
  &:before {
    transform: translateY(4px) rotate(45deg) ;
  }
  &:after {
    transform: translateY(-4px) rotate(-45deg) ;
  }
}
