:root {
  --text-primary: #403F3D;
  --text-inverse: #E1D4C9;
  --text-accent: #B0907A;
  --bg-page: #E1D4C9;
  --bg-container: #665F55;
  --bg-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #C1B6AD;
  --border-inverse: #665F55;

  --dark-text-primary: #E1D4C9;
  --dark-text-inverse: #E1D4C9;
  --dark-text-accent: #B0907A;
  --dark-bg-page: #292826;
  --dark-bg-container: #403F3D;
  --dark-bg-overlay: rgba(41, 40, 38, 0.8);
  --dark-border-primary: #665F55;
  --dark-border-inverse: #C1B6AD;

  --inter: 'Inter', sans-serif;

  font: 16px/150% var(--inter);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-primary);
  background: var(--bg-page);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #E1D4C9;
    --text-inverse: #E1D4C9;
    --text-accent: #B0907A;
    --bg-page: #292826;
    --bg-container: #403F3D;
    --bg-overlay: rgba(41, 40, 38, 0.8);
    --border-primary: #665F55;
    --border-inverse: #C1B6AD;
  }
} */

html {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  transition: 0.5s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.svg {
  width: 100%;
  height: 100%;
}

a, img {
  display: inline-block;
}

h1,h2,h3,h4 {
  margin: 0;
}

p {
  margin: 0;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--bg-page);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: var(--text-primary);
}

.dark-mode {
  --text-primary: var(--dark-text-primary);
  --text-inverse: var(--dark-text-inverse);
  --text-accent: var(--dark-text-accent);
  --bg-page: var(--dark-bg-page);
  --bg-container: var(--dark-bg-container);
  --bg-overlay: var(--dark-bg-overlay);
  --border-primary: var(--dark-border-primary);
  --border-inverse: var(--dark-border-inverse);
}

.no-scroll {
  overflow: hidden;
}

.section {
  padding: 0 40px;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  min-width: 380px;
}

.h1 {
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%; /* 75.6px */
  .h1_text_center {
    text-align: center;
  }
  .h1_accent {
    letter-spacing: 0.5px;
    color: var(--text-accent);
    font-style: italic;
  }
}

.h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  font-feature-settings: 'clig' off, 'liga' off;
  .h2_text_center {
    text-align: center;
  }
  .h2_accent {
    letter-spacing: 0.5px;
    color: var(--text-accent);
    font-style: italic;
  }
}

.h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  .h3_text_center {
    text-align: center;
  }
}

.btn-link {
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  .btn-link_text_center {
    text-align: center;
  }
  text-decoration: none;
}

.burger-link {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px */
  .burger-link_text_center {
    text-align: center;
  }
}

.h1-mobile {
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 48.3px */
  .h1-mobile_text_center {
    text-align: center;
  }
  .h1-mobile_accent {
    letter-spacing: 0.5px;
    color: var(--text-accent);
    font-style: italic;
  }
}

.h2-mobile {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px */
  .h2-mobile_text_center {
    text-align: center;
  }
  .h2-mobile_accent {
    letter-spacing: 0.5px;
    color: var(--text-accent);
    font-style: italic;
  }
}

.caption {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
}